@{
    ViewBag.Title = "Home";
}


<div class="row" style="text-align:center; margin-top:2%">
    <h1>Bienvenido a Caja Web</h1>
    <img src="~/Content/CajaRegister.png" width="50%" style="margin-top:8%"/>

</div>
<script>


</script>



